[Unit]
Description=Lottery API running on Debian

[Service]
WorkingDirectory=/var/www/LotteryAPI
ExecStart=dotnet /var/www/LotteryAPI/lotteryapi.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=LotteryAPI
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target